
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-column:200px 200px
	grid-template-row:200px 200px;
	
}
.holder div{
	display:inline-block;
	margin:2px;
	padding:20px;
	background-color:blue
}